.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  margin: auto;
  max-width: 100%;
  max-height:100%;
}

.frontPageTitle {
  font-family: 'Pacifico', cursive;
  font-size: 9em;
  color: white;
  text-align: center;
  padding-top: 16%;
}

.topBar {  
  background-image: url('./images/mathlab-front.jpg');
  background-repeat: no-repeat;
}

.topBarText {  
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: white;
  padding: 1%;
}


.frontPage {
  background-image: url('./images/mathlab-front.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}

.whiteBorder {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  height: 95%;
  width: 95%;
  border-collapse: collapse;
  border: 10px solid white;
  border-radius: 5px;
}

.spacer {
  height:2%
}

.frontPageLinks {
  text-align: center;
  margin-top:0.4%;
  margin-left: auto;
  margin-right:auto; 
  width: 15%;
  padding: 7px;
  background-color: white;
  border: 5px solid #009900;
  border-radius: 35px;
}

.frontPageText {
  color:  #009900;
  font-size: 2em;
}

.challenge {
  box-sizing: border-box;
  position: relative;
  margin-top:3%;
  margin-left: auto;
  margin-right:auto; 
  height: 90%;
  width: 90%;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5%;
}

.challengeLinkText {
  color: white;
  padding: 1%;
}

.quizBody {
  margin-top:3%;
  margin-left: auto;
  margin-right:auto; 
  width: 90%;
}

.questionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.answerGrid {
  width: 70%;
  margin-top:2%;
  margin-left: auto;
  margin-right:30%; 
  cursor: pointer;
}

.results {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#plotParent {
  width: 500px;
  height: 500px;
}

#plot {
  width: 100%;
  height: 100%;
}

.loginBackground {
  box-sizing: border-box;
  position: relative;
  margin-top:3%;
  margin-left: auto;
  margin-right:auto; 
  height: 90%;
  width: 70%;
  background: linear-gradient(205deg, #FFFACD 25%, #8B4513 35%,#8FBC8F 30%);
  border-radius: 5px;
  padding: 5%;
}

.loginForm {
  box-sizing: border-box;
  position: relative;
  margin-top:3%;
  margin-left: auto;
  margin-right:auto; 
  height: 90%;
  width: 50%;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}

.loginMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  box-sizing: border-box;
}

.passwordMenu {
  border-radius: 20px;
  box-sizing: border-box;
}

.highlightTab {
  background: #696969;
  color: white;
  padding: 5%;
  pointer-events: none; 
}

.normalTab {
  padding: 5%;
}

.normalTab:hover {
  padding: 5%;
  cursor: pointer;
  background: #DCDCDC;
}

.loginInputFields {
  text-align: center;
  margin-top:3%;
  margin-left: auto;
  margin-right:auto; 
  padding: 10%;
}
.loginInput {
  text-align: center;
  margin: 5%;
  width: 90%;
  padding: 5%;
  border: 3px solid  #696969;
  border-radius: 20px;
  outline: none;
}

.alertWords {
  text-align: center;
  color: red;
  margin-top: 2%;
}

.registerSuccessWords {
  text-align: center;
  color: green;
  margin-top: 2%;
}

.spacerWords {
  margin-top: 2%;
  color:white;
}

.logoutButtonsSpacer {
  margin: 2%;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.statsImg {
  width:100%;
  height: auto;
  vertical-align: middle;
}